@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('@fontsource/roboto/300.css');
    src: url('@fontsource/roboto/400.css');
    src: url('@fontsource/roboto/500.css');
    src: url('@fontsource/roboto/700.css');
}

